@charset "UTF-8";

body {
  background: #edf0f1;
  padding: 80px 0 0 0;
}

body, input, button {
  font-family: 'Roboto', sans-serif;
}

.noFill {
  fill: none;
}

header {
  width: 100%;
  height: 80px;

  position: fixed;
  padding: 15px;
  top: 0;
  left: 0;
  z-index: 5;

  background: #26aa47;
  box-shadow: 0px 2px 4px rgba(44, 62, 80, 0.15);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

header input {
  width: 100%;
  height: 50px;
  float: left;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  text-indent: 18px;
  padding: 0 60px 0 0;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px 25px 25px 5px;
  border: 0px;
  box-shadow: none;
  outline: none;

  -webkit-appearance: none;
  -moz-appearance: none;
}

header input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.75);
}

header input:-moz-input-placeholder {
  color: rgba(255, 255, 255, 0.75);
}

header input::-moz-input-placeholder {
  color: rgba(255, 255, 255, 0.75);
}

header input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.75);
}

header button {
  width: 50px;
  height: 50px;

  position:absolute;
  top:15px;
  right:15px;
  z-index:2;

  border-radius: 25px;
  background: #fff;
  border: 0px;
  box-shadow: none;
  outline: none;
  cursor: pointer;

  -webkit-appearance: none;
  -moz-appearance: none;
}

header button svg {
  width: 16px;
  height: 16px;

  position: absolute;
  top: 50%;
  left: 50%;

  margin: -8px 0 0 -8px;
}

header button svg .fill {
  fill: #26aa47;
}

.container {
  width: 100%;
  float: left;
  padding: 15px;
}

ul.todo {
  width: 100%;
  float: left;
}

ul.todo li {
  width: 100%;
  min-height: 50px;
  float: left;
  font-size: 14px;
  font-weight: 500;
  color: #444;
  line-height: 22px;

  background: #fff;
  border-radius: 5px;
  position: relative;
  box-shadow: 0px 1px 2px rgba(44, 62, 80, 0.10);
  margin: 0 0 10px 0;
  padding: 14px 100px 14px 14px;
  word-break: break-word;
}

ul.todo li:last-of-type {
  margin: 0;
}

ul.todo li .buttons {
  width: 150px;
  height: 50px;

  position: absolute;
  top: 0;
  right: 0;
}

ul.todo li .buttons button {
  width: 50px;
  height: 50px;
  float: left;
  background: none;
  position: relative;
  border: 0px;
  box-shadow: none;
  outline: none;
  cursor: pointer;

  -webkit-appearance: none;
  -moz-appearance: none;
}

/* Separator line between then the complete and the edit button */
ul.todo li .buttons button.complete:before {
  content: '';
  width: 1px;
  height: 30px;
  background: #b8bdbd;

  position: absolute;
  top: 10px;
  left: 0;
}

/* Separator line between the edit and the delete button */
ul.todo li .buttons button.edit:before {
  content: '';
  width: 1px;
  height: 30px;
  background: #b8bdbd;

  position: absolute;
  top: 10px;
  left: 0;
}

ul.todo li .buttons button svg {
  width: 22px;
  height: 22px;

  position: absolute;
  top: 50%;
  left: 50%;

  margin: -11px 0 0 -11px;
}

ul.todo li .buttons button.complete svg {
  border-radius: 11px;
  border: 1.5px solid #26aa47;

  transition: background 0.2s ease;
}

ul.todo#completed li .buttons button.complete svg {
  background: #26aa47;
  border: 0px;
}

ul.todo:not(#completed) li .buttons button.complete:hover svg {
  background: #26aa47;
}

ul.todo:not(#completed) li .buttons button.complete:hover svg .fill {
  fill: #fff;
}

ul.todo#completed li .buttons button.complete svg .fill {
  fill: #fff;
}

ul.todo li .buttons button.edit svg .fill {
  fill: #96bdb0;
}

ul.todo li .buttons button.edit:hover svg .fill {
  fill: #c1e856;
}

ul.todo li .buttons button svg .fill {
  transition: fill 0.2s ease;
}

ul.todo li .buttons button.remove svg .fill {
  fill: #c0cecb;
}

ul.todo li .buttons button.remove:hover svg .fill {
  fill: #e85656;
}

ul.todo li .buttons button.complete svg .fill {
  fill: #26aa47;
}

/* When the user hovers over the add button */
header button:hover svg .fill{
  fill: #fdfffd;
  transition: fill 0.2s ease;
}

/* When the user hovers over the add button */
header button:hover {
  background: #26aa47;
  transition: background 0.2s ease;
}

/* When the user hovers over the input bar */
header input:hover {
  background: #26aa47;
  transition: background 0.5s ease;
}

ul.todo#completed {
  position: relative;
  padding: 60px 0 0 0;
}

/* When an item is moved from the todo to the completed list */
ul.todo#completed li {
  background: #d5ffdc;
}

/* The separator line between the two lists */
ul.todo#completed:before {
  content: '';
  width: 300px;
  height: 1px;
  background: #26aa47;

  position: absolute;
  top: 30px;
  left: 50%;

  margin: 0 0 0 -150px;
}

/* Text displayed when todo list is empty */
ul.todo#todo:empty:after {
  content: 'Add an activity to get started';
  margin: 15px 0 0 0;
}

/* Text displayed when completed list is empty */
ul.todo#completed:empty:after {
  content: 'Completed tasks will be shown here';
}

ul.todo#todo:after,
ul.todo#completed:after {
  width: 100%;
  display: block;
  text-align: center;
  font-size: 12px;
  color: #aaa;
}

/* CSS FOR DARKMODE BUTTON */
.darkmode{
  background: #90dd9d;
  height: 50px;
  width: 150px;
  overflow: hidden;
  border-radius: 5px;
  cursor: pointer;
  margin: 15px 15px 15px 15px;

}
.darkmode label{
  cursor: pointer;
}
.darkmode span{
  float: left;
  color: #fff;
  font-family: Arial;
  font-weight: bold;
  text-align: center;
  width: 66%;
  height: 100%;
  background: #742a6d;
  display: block;
  font-size: 14px;
  line-height: 50px;
  -webkit-transition: margin 0.2s linear;
  -moz-transition: margin 0.2s linear;
  -ms-transition: margin 0.2s linear;
  -o-transition: margin 0.2s linear;
  transition: margin 0.2s linear;
  margin-left: -66%;
}
.darkmode span ~ span{
  margin-left: 0;
  background: none;
}
.darkmode .indicator{
  float: left;
  background: #ccc;
  height: 100%;
  width: 34%;
  padding: 8px;
  box-sizing: border-box;
}
.darkmode input:checked + span{
  margin-left: 0;
}
.darkmode input{
  opacity: 0;
  position: absolute;
  left: -10000px;
}
.circ{
  stroke: #26aa47;
  transition: stroke 1s 0.2s;
}
.darkmode input:checked ~ .indicator .circ{
  stroke: #742a6d;
  opacity: 1;
}
.tick{
  stroke-dasharray: 20;
  stroke-dashoffset: 20;
  transition: stroke-dashoffset 0.3s;
  transition-delay: .5s;
}
.darkmode input:checked ~ .indicator .tick{
  stroke:#742a6d;
  opacity: 1;
  stroke-dashoffset: 0;
  transition-delay: 0.5s;
  transition: stroke 1s 0.2s;
}
.darkmode input ~ .indicator .tick{
  stroke:#26aa47;
  opacity: 1;
  stroke-dashoffset: 0;
  transition-delay: 0.5s;  
  transition: stroke 1s 0.2s;
}


