@charset "UTF-8";

body {
  background: #edf0f1;
  background-image: linear-gradient(to bottom,  rgb(231, 109, 109), rgb(168, 29, 145), rgb(143, 53, 170), rgb(15, 6, 92));
  padding: 80px 0 0 0;
}

body, input, button {
  font-family: 'Roboto', sans-serif;
}

.noFill {
  fill: none;
}

header {
  width: 100%;
  height: 80px;
  position: fixed;
  padding: 15px;
  top: 0;
  left: 0;
  z-index: 5;
  background: linear-gradient(to right, #FF355E,#FF9966,#FFFF66);
  box-shadow: 0px 2px 4px rgba(44, 62, 80, 0.15);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

header input {
  width: 100%;
  height: 50px;
  float: left;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  text-indent: 18px;
  padding: 0 60px 0 0;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 5px 25px 25px 5px;
  border: 0px;
  box-shadow: none;
  outline: none;

  -webkit-appearance: none;
  -moz-appearance: none;
}

header input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.75);
}

header input:-moz-input-placeholder {
  color: rgba(255, 255, 255, 0.75);
}

header input::-moz-input-placeholder {
  color: rgba(255, 255, 255, 0.75);
}

header input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.75);
}

header button {
  width: 50px;
  height: 50px;

  position:absolute;
  top:15px;
  right:15px;
  z-index:2;

  border-radius: 25px;
  background: #fff;
  border: 0px;
  box-shadow: none;
  outline: none;
  cursor: pointer;

  -webkit-appearance: none;
  -moz-appearance: none;
}

header button svg {
  width: 16px;
  height: 16px;

  position: absolute;
  top: 50%;
  left: 50%;

  margin: -8px 0 0 -8px;
}

header button svg .fill {
  fill: #26aa47;
}

.container {
  width: 100%;
  float: left;
  padding: 15px;
}

ul.todo {
  width: 100%;
  float: left;
}

/* Todo list item style  */
ul.todo li {
  width: 100%;
  min-height: 50px;
  float: left;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  border-radius: 5px;
  position: relative;
  border-style: solid;
  border-width: 2px;
  border-image: linear-gradient(to top, #FF6EFF, rgb(255, 255, 255)) 1 round;
  /*border-color: red;*/
  /*border-image-slice: 1;*/
  background: rgba(255, 255, 255, .3);
  margin: 0 0 10px 0;
  padding: 14px 100px 14px 14px;
  word-break: break-word;
}

/* Completed list item style */
ul.todo#completed li {
  background: linear-gradient(to right, #356bff,#4df1f1,#9ffafa);
}

ul.todo li:last-of-type {
  margin: 0;
}

ul.todo li .buttons {
  width: 150px;
  height: 50px;

  position: absolute;
  top: 0;
  right: 0;
}

/* Modifies the placeholder text */
ul.todo#todo:after,
ul.todo#completed:after {
  width: 100%;
  display: block;
  text-align: center;
  font-size: 14px;
  color: #aaa;
}

/* Keeps completed list below the separator line */
ul.todo#completed {
  position: relative;
  padding: 60px 0 0 0;
}

/* The separator line between the two lists */
ul.todo#completed:before {
  content: '';
  width: 300px;
  height: 1px;
  background: #a9ebff;
  position: absolute;
  top: 30px;
  left: 50%;
  margin: 0 0 0 -150px;
}

/* Text displayed when todo list is empty */
ul.todo#todo:empty:after {
  content: 'Add an activity to get started';
  margin: 15px 0 0 0;
}

/* Text displayed when completed list is empty */
ul.todo#completed:empty:after {
  content: 'Completed tasks will be shown here';
}

/********** BUTTONS STYLING START ***********/

ul.todo li .buttons button {
  width: 50px;
  height: 50px;
  float: left;
  background: none;
  position: relative;
  border: 0px;
  box-shadow: none;
  outline: none;
  cursor: pointer;

  -webkit-appearance: none;
  -moz-appearance: none;
}

/* Separator line between then the complete and the edit button */
ul.todo li .buttons button.complete:before {
  content: '';
  width: 1px;
  height: 30px;
  background: #b8bdbd;

  position: absolute;
  top: 10px;
  left: 0;
}

/* Separator line between the edit and the delete button */
ul.todo li .buttons button.edit:before {
  content: '';
  width: 1px;
  height: 30px;
  background: #b8bdbd;

  position: absolute;
  top: 10px;
  left: 0;
}

ul.todo li .buttons button svg {
  width: 22px;
  height: 22px;

  position: absolute;
  top: 50%;
  left: 50%;

  margin: -11px 0 0 -11px;
}

ul.todo li .buttons button.complete svg {
  border-radius: 11px;
  border: 1.5px solid #26aa47;

  transition: background 0.2s ease;
}

ul.todo#completed li .buttons button.complete svg {
  background: #26aa47;
  border: 0px;
}

ul.todo:not(#completed) li .buttons button.complete:hover svg {
  background: #26aa47;
}

ul.todo:not(#completed) li .buttons button.complete:hover svg .fill {
  fill: #fff;
}

ul.todo#completed li .buttons button.complete svg .fill {
  fill: #fff;
}

ul.todo li .buttons button.edit svg .fill {
  fill: #96bdb0;
}

ul.todo li .buttons button.edit:hover svg .fill {
  fill: #c1e856;
}

ul.todo li .buttons button svg .fill {
  transition: fill 0.2s ease;
}

ul.todo li .buttons button.remove svg .fill {
  fill: #c0cecb;
}

ul.todo li .buttons button.remove:hover svg .fill {
  fill: #e85656;
}

ul.todo li .buttons button.complete svg .fill {
  fill: #26aa47;
}

/* When the user hovers over the add button */
header button:hover svg .fill{
  fill: #fdfffd;
  transition: fill 0.2s ease;
}

/* When the user hovers over the add button */
header button:hover {
  background: #26aa47;
  transition: background 0.2s ease;
}

/* When the user hovers over the input bar */
header input:hover {
  background: #26aa47;
  transition: background 0.5s ease;
}

/************ BUTTONS STYLING END *************/


